.form
  &__submit-wrapper
    text-align: center

  &__error
    text-align: center
    
    .error
      display: inline-block
      padding: 1rem
      font-size: 1.6rem


  .input-field
    &>label
      transform: translateY(0)
      font-size: 1.8rem

  @media screen and (min-width: $screen-md)
    &__submit-wrapper,  
    &__error
      text-align: left

    &__error
      padding: 0



