.note
  margin: 1rem 0
  padding: 2rem
  border-radius: 5px
  background-color: $white

  &__header
    position: relative

  &__title
    margin-right: 2rem
    font:
      size: 1.8rem
      weight: 700


  &__delete
    position: absolute
    top: -5px
    right: -10px
    cursor: pointer

  &__controls
    margin-top: 1.5rem

  &__data
    font-size: 1.6rem

  &__list
    margin-left: 3rem
    font-size: 1.6rem
    text-align: left
    list-style-type: decimal

   
